@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Matter';
  src: url('/matter-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'GT';
  src: url('/GT.OTF') format('opentype')
}
body {
  font-family: 'GT', sans-serif;
}

.scrollbar {
  scrollbar-width: none;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
