@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Matter';
  src: url('/matter-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'GT';
  src: url('/Gilroy-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'GB';
  src: url('/Gilroy-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'GS';
  src: url('/Gilroy-SemiBold.ttf') format('truetype')
}
body {
  font-family:'Matter';
}

.scrollbar {
  scrollbar-width: none;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
