@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Matter';
  src: url('/matter-regular.woff2') format('woff2')
}
body {
  font-family: 'Matter', sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
